<div class="partners__track">
  <span class="partners__logo"><img src="partners/dbn.svg" alt="Development Bank of Nigeria"></span>
  <span class="partners__logo"><img src="partners/deloitte.svg" alt="Deloitte"></span>
  <span class="partners__logo"><img src="partners/ey.svg" alt="Ernst &amp; Young"></span>
  <span class="partners__logo"><img src="partners/family-homes-funds.png" alt="Family Homes Funds"></span>
  <span class="partners__logo"><img src="partners/first-metro-infrastructure.png" alt="First Metro Infrastructure"></span>
  <span class="partners__logo"><img src="partners/fmbn.png" alt="Federal Mortgage Bank of Nigeria"></span>
  <span class="partners__logo"><img src="partners/mban.png" alt="Mortgage Bankers Association of Nigeria"></span>
  <span class="partners__logo"><img src="partners/redan.png" alt="Real Estate Developers Association of Nigeria"></span>
  <span class="partners__logo"><img src="partners/siao-partners.png" alt="SIAO Partners"></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/dbn.svg" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/deloitte.svg" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/ey.svg" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/family-homes-funds.png" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/first-metro-infrastructure.png" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/fmbn.png" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/mban.png" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/redan.png" alt=""></span>
  <span class="partners__logo" aria-hidden="true"><img src="partners/siao-partners.png" alt=""></span>
</div>
